# This file is used to override the default settings in the docker-compose.yml file.
# It allows you to customize the configuration for different environments (e.g., development, testing).
# In this example, it exposes the MySQL service on port 3306.

services:
  mysql:
    ports:
      - 3306:3306